@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Roboto+Condensed:400,700|Roboto+Mono&display=swap');
/*
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Noto Serif', serif;
*/
a {
    color: white;
}
a:hover {
    background-color: rgb(34, 34, 185);
    border-radius: 7px;
    text-decoration: solid;
}
body {
    font-family: 'Noto Serif', serif;
    background-color: black;
    color: rgb(34, 34, 185);
}
header {
    font-size: 30px;
    padding: 20px; /* Added 20 pixels of padding */
    border: 8px solid grey;
    margin: 1%;
}
p {
 font-size: 20px;
}
h3 {
    font-size: 30px;
}
.summary, .preamble, .explanation, .participation, .benefits, .requirements, .sidebar, footer {
    padding: 10px;
    border: 8px solid grey;
    margin: 1%;
}

