@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Roboto+Condensed:400,700|Roboto+Mono&display=swap');
/*
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Noto Serif', serif;
*/
a {
    color: lightgrey; /* Set link text color to lightgrey */
    font-weight: bold; /* Made the links bold */
    padding: 5px; /* Added 5px of padding to links */
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* Added transition to links */
}
a:hover {
    background-color: black; /* Added black background color to links when you hover over it */
    border-radius: 10px; /* Rounded the corners using border radius */
    
}
body {
    background-color: grey; /* Set background color to grey */
    font-family: 'Roboto Condensed', sans-serif; /* Set font family */
    color: darkred; /* Set text color to darkred
    line-height: 1.2; /* Set the line height to 1.2 */
}
header {
    font-size: 40px; /* Set font size to 40 px */
    padding: 20px; /* Added 20px of padding
    text-align: center; /* Aligned text to the center
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Added Box shadow for depth */
}
p {
    font-size: 25px; /* Set the font size to 25px */
    font-weight: bold; /* Set the font weight to bold */
    padding-bottom: 5px; /* Added 5px of padding to the bottom */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Added Box shadow for depth */
}
p::first-letter {
    font-size: 115%; /* Increased the first letter font size to the first letter of p */
}
h3 {
    font-size: 40px; /* Set font size to 40px */
}
.intro, .preamble, .main.supporting, .sidebar {
    padding: 20px; /* Added 20px of padding */
    margin-bottom: 20px; /* Added 20 pixels of margin to the bottom */
    border: 2px solid darkred; /* Added darkred border */
    border-radius: 10px; /* Rounded the corners with border radius */
}
.wrapper {
    display: flex; /* Set display to use flexbox layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 20px; /* Added a 20px gap */ 
    justify-content: space-between; /* Added the space between so that the space in the container is distributed equally between the flex items */
}
.design-selection, .design-archives, .zen-resources {
    background-color: #2c2c2c; /* Set the background color to a darkish grey color */
    padding: 20px; /* Added 20 px of padding */
    border-radius: 30px; /* Added border radius to round the corners */
    flex: 1 1 30%; /* Ensures that it starts at 30% of the container and that it can grow or shrink as needed. Flex-grow:1, Flex-shrink:1, Flex-basis: 30% It combines all three. */
}
.design-selection ul, .design-archives ul, .zen-resources ul {
    list-style: none; /* Removed the default style */
    padding: 0; /* Removed the default padding */
}
.design-selection ul li, .design-archives ul li, .zen-resources ul li {
    margin-bottom: 15px; /* Added margin to the bottom */
    font-size: 25px; /* Set font size to 25px */
}
footer {
    text-align: center; /* Aligned footer to center */ 
}